<%- include("partials/header"); -%>
<div class="content">
  <h1>Home</h1>
  <p><%= startingContent %></p>

  <% posts.forEach(function(post){ %>

  <h1><%=post.title%></h1>
  <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
  </p>
  <% }) %> <% if ( message ) { %>
  <script>
    var compose = document.getElementById("compose");
    compose.innerHTML = '<a href="/compose"> COMPOSE </a>';
  </script>
  <% } %>
</div>
<%- include("partials/footer"); -%>
